header{
    background-color: rgb(255, 235, 175);
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
    border: solid 2px black;
}
.cabeçalho{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-around;

}
.cabeçalholist nav ul li{
    display: inline;
    margin-left: 20px;
}
#quemsomos{
    background-color: rgb(248, 233, 255);
    margin-top: 86px;
    display: flex;
    border: solid 2px gray;
}
#quemsomos img{
    height: 350px;
}
.nossosprodutos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 2px gray;
}
#produtos h2 {
    text-align: center;
}
.nossosprodutos img {
    height: 250px;
    width: 400px;
}
.nossosprodutos div{
    margin: 20px;
    border: solid 2px gray;
    text-align: center;
}
